<footer class="bg-purple-700 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <p class="font-bold">Paises API</p>
            <p class="text-sm">Desarrollado por María Sofía Martín</p>
        </div>
        <div class="flex space-x-4">
            <a href="https://github.com/SofiMartin" class="text-white hover:text-purple-300" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/mariasofiamartin/" class="text-white hover:text-purple-300" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>
